* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../font/Raleway-SemiBold.ttf);
  font-family: 'Raleway-Bold';
  src: url(../font/Raleway-Bold.ttf);
  font-family: 'Raleway-regular';
  src: url(../font/Raleway-Light.ttf);
  font-family: 'Playfair Display';
  src: url(../font/PlayfairDisplay-Bold.otf);
  font-family: 'Playfair Display-italic';
  src: url(../font/PlayfairDisplay-BoldItalic.otf);
}
.resp {
  width: 100%;
}

.content-banner {
  height: auto !important;
}

.resp-thumb {
  width: 100%;
}

/*banner*/
.top-banner {
  position: relative;
  top: 200px;
}

.carousel-inner {
  width: 50% !important;
}

.content-banner {
  width: 100%;
  height: 430px;
  max-height: 430px;
  box-sizing: border-box;
  display: block;
}

.box-caption {
  background-color: #010102;
  display: inline-block;
  text-align: center;
  padding: 4px 20px 9px;
  margin-top: 343px;
}

.content-holder {
  display: inline-block;
  font-size: 10px;
  color: #2bbafc;
}

.content-holder span {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
}

.carousel-indicators {
  position: absolute;
  bottom: -35px;
}

.carousel-indicators li {
  border-radius: 0px !important;
  border: 0px;
  display: inline-block;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  background-color: #bcbec0;
  cursor: pointer;
  margin: 0 2px;
}

.carousel-indicators .active {
  width: 6px !important;
  height: 6px !important;
  background-color: #2bbafc;
  border: 0px !important;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: 100% !important;
}

/*promgrame-se*/
.program h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Playfair Display-italic", serif;
  font-style: italic;
}

.linhas-programe {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 123px;
}

.lista-program ul {
  text-align: center;
  padding: 10px 0 30px;
  height: 123px;
}

.program {
  margin-top: 250px;
}
.program ul li {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
  text-align: center;
}
.program ul li a {
  display: block;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 18px;
}
.program ul li a strong {
  font-size: 20px;
  display: block;
  color: #000;
}
.program ul li a a:hover {
  text-decoration: underline;
  text-decoration-color: #000 !important;
}

.agora {
  font-style: italic;
  font-size: 11px;
  color: #2bbafc;
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.black {
  color: #000;
}

.seeAll {
  text-align: center;
  padding-top: 10px;
}
.seeAll a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
}

.label-4 {
  text-align: center;
}
.label-4 h2 a {
  font-size: 40px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  line-height: 60px;
  padding-bottom: 7px;
  color: #000;
  font-weight: bold;
}
.label-4 h4 a {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  line-height: 60px;
  padding-bottom: 7px;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

/*bloco decoracao/quente*/
.materia-content {
  display: block;
  text-align: center;
  padding: 20px 20px;
}
.materia-content a {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
  min-height: 90px;
}

.desc-materia, .desc-ultimas {
  position: relative;
  top: 20px;
  bottom: 20px;
}

.more {
  bottom: 0;
  display: block;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
}
.more :before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5.5%;
  display: block;
  border: 1px solid #000;
  width: 90%;
  height: 10px;
  z-index: 1;
  border-top: none;
}
.more :after {
  border: none;
  border-bottom: 1px solid #fff;
  height: 1px;
  z-index: 2;
  bottom: 10px;
  left: 0px;
}
.more a {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

/*bloco ultimos  videos/renault/deca*/
.box-holder {
  min-height: 270px;
  border: 1px solid #d2d2d2;
}
.box-holder p {
  text-align: center;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}
.box-holder p a {
  text-align: center;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
}

/*bloco ultimas*/
.desc-ultimas {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
  min-height: 90px;
}

.linha-2 {
  margin-top: 50px;
}

.top-more {
  padding-top: 50px;
  position: relative;
}
.top-more :before {
  width: 100%;
  left: 0%;
}

/*bloco buscas*/
.busca h4 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Raleway-bold', sans-serif;
  color: #000;
  font-weight: bold;
  margin-top: 80px;
}

.form-busca {
  background-color: #e7e8e8;
  height: 125px;
  padding: 25px 0px 25px 0px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 700;
}

.button:hover {
  background-color: #bcbec0;
}

.line-form {
  padding-top: 10px;
}

imput {
  color: #555 !important;
}

::-webkit-input-placeholder {
  color: #555 !important;
}

:-moz-placeholder {
  color: #555 !important;
  color: #000 !important;
}

::-moz-placeholder {
  color: #555 !important;
}

:-ms-input-placeholder {
  color: #555 !important;
}

/*bloco patrocinio*/
.box-patrocinio {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 180px;
  margin-top: 50px;
}

.title-patrocinio {
  text-align: center;
}
.title-patrocinio h4 {
  text-align: center !important;
  font-family: 'Raleway-regular';
  font-size: 20px;
  padding-top: 30px;
}

/*bloco social*/
.social-home {
  margin-top: 40px;
}

/*ajustes responsivo*/
@media (max-width: 1200px) {
  .top-banner {
    top: 150px;
  }

  .lado-direito {
    display: none;
  }

  .carousel-inner {
    width: 100% !important;
  }

  .title-resp {
    font-size: 24px !important;
  }

  .navbar-brand {
    margin-left: 0px !important;
  }
}
@media (max-width: 991px) {
  button.form-bsc {
    width: 100%;
  }

  .label-4 {
    min-height: 200px;
  }

  .linhas {
    height: 420px !important;
  }

  .linhas-programe {
    height: 390px;
  }

  .ultimas-fig {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .top-banner {
    top: 50px;
  }

  .program {
    margin-top: 50px;
  }

  .form-busca {
    height: 480px;
  }

  .social-resp {
    margin-top: 10px;
  }

  .box-patrocinio {
    height: 312px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .form-busca {
    padding: 25px 40px 25px 0px;
  }

  .carousel-indicators {
    display: none !important;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  input, select, button {
    margin-top: 10px !important;
  }

  .form-busca {
    height: 290px;
  }

  .tt-resp {
    padding-left: 75px;
  }

  .program {
    margin-top: 150px;
  }
}

/*# sourceMappingURL=estilo-home-content.css.map */
