#alert-dialog {display:none;}
#site-config {display:none;}
#publish-dialog {display:none;}

/* Overlay */
.simplemodal-overlay  {background-color: black; }
.confirm-overlay {background-color:#eee; cursor:wait;}

/* Site Config */
#site-config-container { width: 420px; height:140px; }
#site-config-container .modal-close { background: transparent url("../images/ico-close-modal.png") center center no-repeat; height:12px; width:12px; text-decoration:  none; text-indent: -9999px; margin: 0; position: absolute; top:20px; right: 20px }
#site-config-container .simplemodal-data { background: none repeat scroll 0 0 #252525; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 2px solid #E5E5E5; padding-bottom: 15px; }
#site-config-container .simplemodal-data .alert-message-holder { display:table; margin:10px auto; width:auto;}
#site-config-container .simplemodal-data .message { color:#666; font-size:14px; margin:0; padding:12px 4px 12px 8px; background: #FFF;min-height:135px;max-height:135px;overflow:auto; }
#site-config-container .simplemodal-data .header { padding: 10px 10px 15px 15px; color: #EEE; font-family: 'Impact'; font-size: 24px; font-weight: normal; text-transform: uppercase; }
#site-config-container .simplemodal-data .buttons { background: #FFF; line-height:26px; width:400px; float: left; padding: 10px 8px; }
#site-config-container .simplemodal-data .buttons div { color: #000; float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; border:1px solid #bbb; cursor:pointer; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#site-config-container .simplemodal-data .buttons div:hover { background: #ccc; }

/* Confirm */
#confirm-container { width: 420px; height:140px; }
#confirm-container .modal-close { background: transparent url("../images/ico-close-modal.png") center center no-repeat; height:12px; width:12px; text-decoration:  none; text-indent: -9999px; margin: 0; position: absolute; top:20px; right: 20px }
#confirm-container .simplemodal-data { height:155px; background: none repeat scroll 0 0 #252525; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 2px solid #E5E5E5; padding-bottom: 15px; }
#confirm-container .simplemodal-data .alert-message-holder { display:table; margin:10px auto; width:auto;}
#confirm-container .simplemodal-data .message { color:#666; font-size:14px; margin:0; padding:12px 4px 12px 8px; background: #FFF;min-height:135px;max-height:135px;overflow:auto; }
#confirm-container .simplemodal-data .header { padding: 10px 10px 15px 15px; color: #EEE; font-family: 'Impact'; font-size: 24px; font-weight: normal; text-transform: uppercase; }
#confirm-container .simplemodal-data .buttons { background: #FFF; line-height:26px; width:400px; float: left; padding: 10px 8px; }
#confirm-container .simplemodal-data .buttons div { color: #000; float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; border:1px solid #bbb; cursor:pointer; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#confirm-container .simplemodal-data .buttons div:hover { background: #ccc; }

/* Site Config */
#alert-container { width: 420px; height:140px; }
#alert-container .modal-close { background: transparent url("../images/ico-close-modal.png") center center no-repeat; height:12px; width:12px; text-decoration:  none; text-indent: -9999px; margin: 0; position: absolute; top:20px; right: 20px }
#alert-container .simplemodal-data { height:155px; background: none repeat scroll 0 0 #252525; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 2px solid #E5E5E5; padding-bottom: 15px; }
#alert-container .simplemodal-data .alert-message-holder { display:table; margin:10px auto; width:auto;}
#alert-container .simplemodal-data .message { color:#666; font-size:14px; margin:0; padding:12px 4px 12px 8px; background: #FFF;min-height:135px;max-height:135px;overflow:auto; }
#alert-container .simplemodal-data .header { padding: 10px 10px 15px 15px; color: #EEE; font-family: 'Impact'; font-size: 24px; font-weight: normal; text-transform: uppercase; }
#alert-container .simplemodal-data .buttons { background: #FFF; line-height:26px; width:400px; float: left; padding: 10px 8px; }
#alert-container .simplemodal-data .buttons div { color: #000; float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; border:1px solid #bbb; cursor:pointer; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#alert-container .simplemodal-data .buttons div:hover { background: #ccc; }

/* Publish details */
#publish-container { width: 420px; height:300px; }
#publish-container .modal-close { background: transparent url("../images/ico-close-modal.png") center center no-repeat; height:12px; width:12px; text-decoration:  none; text-indent: -9999px; margin: 0; position: absolute; top:20px; right: 20px }
#publish-container .simplemodal-data { background: none repeat scroll 0 0 #252525; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; border: 2px solid #E5E5E5; padding-bottom: 35px; height: 80% }
#publish-container .simplemodal-data .alert-message-holder { display:table; margin:10px auto; width:auto;}
#publish-container .simplemodal-data .message { color:#666;font-size:14px;margin:0;padding:12px 4px 12px 8px;background: #FFFFFF;min-height:135px;max-height:135px;overflow:auto; }
#publish-container .simplemodal-data .message .item { margin-bottom: 5px }
#publish-container .simplemodal-data .header { padding: 10px 10px 15px 15px; color: #EEE; font-family: 'Impact'; font-size: 24px; font-weight: normal; text-transform: uppercase; }
#publish-container .simplemodal-data .buttons { background: #FFF; line-height:26px; width:400px; float: left; padding: 10px 8px; }
#publish-container .simplemodal-data .buttons div { color: #000; float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; border:1px solid #bbb; cursor:pointer; background: #eee; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#publish-container .simplemodal-data .buttons div:hover { background: #ccc; }
