/***  BASE.CSS
---------------------------------------------- */

/* Grid */
.column { margin: 0 10px 0 0; overflow: hidden; float: left; display: inline; }
.row { width: 100%; margin: 0 auto; overflow: hidden;}
.row .row { margin: 0 -10px 0 0; display: inline-block; }
/* Parts */
.small { font-size: 10px; font-style: normal; font-weight: normal; letter-spacing: normal; line-height: 1.4em; }
.pAuto { width: auto; }
.p100 { width: 100%; } .p99 { width: 99%; }
.p90{ width: 90%; }.p95 { width: 95%; }
.p80{ width: 80%; }.p85 { width: 85%; }
.p70{ width: 70%; }.p75 { width: 75%; }
.p60{ width: 60%; }.p65 { width: 65%; }
.p50{ width: 50%; }.p55 { width: 55%; }
.p40{ width: 40%; }.p45 { width: 45%; }
.p30{ width: 30%; }.p35 { width: 35%; }
.p20{ width: 20%; }.p25 { width: 25%; }
.p10{ width: 10%; }.p15 { width: 15%; }
.p1 { width: 1%; } .p5 { width: 5%; }
/* Links */
a.cancel-link { color:#CC0000; margin-left: 10px; font-size: 12px }
a.remove { background-image:url("../images/delete.png"); }
a.duplicate, a.remove { display:block; float:left; height:16px; margin:3px; text-indent:-9000px; width:16px; }
/* Button */
.button.right { float: right }
.button img { vertical-align: middle; }
/* Content */
#inner{ margin: 20px 0 0 0; }
#site-config, #confirm, #alert-dialog { display: none}
.form h2 { font-size:22px; font-style:normal; font-weight:bold; letter-spacing:-1px; line-height:1.2em; }
h2.section-title{font-family:'Impact',Helvetica,Arial,sans-serif;font-size: 22px;text-transform:uppercase;letter-spacing:-0.5px;color:#2D3839;font-weight:normal;}
.form .group { margin-bottom:15px; padding-right: 10px }
.form label.label { font-size: 12px; display:block; font-weight:bold; padding-bottom:2px; }
.form input.text_field, .form textarea.text_area { width:99%; }
.form input.disabled, .form textarea.disabled { background-color: #EEE; color:#333; }
.form .label .hint{font-size:10px;font-weight:normal;}
.actions{margin:5px 0 0 0;}
.actions a{display:inline-block;text-indent:-9999px;border-left:1px solid #cecece;padding:0 10px;}
.selected .actions a{border-color:#9b9b9b;}
.actions a:first-child{border:none;}
.actions .edit{background:transparent url('/images/ico-pencil2-grey.png') no-repeat center;width:26px;height:17px;padding-left:0;}
.actions .show{background:transparent url('/images/ico-preview-grey.png') no-repeat center;width:20px;height:17px;}
.actions .environment{background:transparent url('/images/ico-environment-grey.png') no-repeat center;width:28px;height:18px;margin:0;}
.actions .validate-environment{background:transparent url('/images/ico-validate-environment-grey.png') no-repeat center;width:28px;height:18px;margin:0;}
.actions .duplicate{background:transparent url('/images/folder-add-grey.png') no-repeat center;width:16px;height:16px;margin:0;}
.actions .destroy{background:transparent url('/images/ico-trash-grey.png') no-repeat center;width:11px;height:17px;}
.selected .actions .edit{background:transparent url('/images/ico-pencil2.png') no-repeat center;}
.selected .actions .show{background:transparent url('/images/ico-preview.png') no-repeat center;}
.selected .actions .environment{background-image:url('/images/ico-environment.png');}
.selected .actions .validate-environment{background-image:url('/images/ico-validate-environment.png');}
.selected .actions .duplicate{background-image:url('/images/folder-add.png');}
.selected .actions .destroy{background:transparent url('/images/ico-trash.png') no-repeat center;}
a.button.disabled:hover, button.button.disabled.default:hover { color: #B3B3B3; }

/* CSS: areas.css
---------------------------------------------- */
div.dominioBox a.remove { margin-top:21px; }
.add_domain img { vertical-align: middle }
.add_domain { font-size: 12px; }
.add_domain:hover { text-decoration: none }
.showArea .dominioBox h3 { padding-bottom: 10px; border-bottom: 1px dotted #666; font-size: 14px; margin-right: 15%; }
.canonical {display:inline-block;background-color:#FDE6BB;border:1px solid #FFB83C;border-radius:5px;color:#BF6700;font-size:11px;font-weight:bold;margin-bottom:14px;padding:6px;}
.canonical a {color:#834700;}

/* Plugin: TreeView
---------------------------------------------- */
.column.tree{ overflow: auto; width: 30%; height: 550px; border: 1px solid #999; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #FFF }
#tree a { text-decoration: none; }
#tree a img { vertical-align: bottom; }
#tree .description { font-size: 75%; color: #666; }
#tree .area_box { padding: 0 3px 5px 5px; border: 1px solid #FFF; -moz-border-radius:5px; }
#tree .area_box:hover { padding: 0 3px 5px 5px; background: #EAF2F8; border: 1px solid #B3CBDD; }
#tree .area_del, #tree .area_add { visibility: hidden; }
#tree #selected { padding: 0 3px 5px 5px; /*background:-moz-linear-gradient(center top , #EAF2F8, #B3CBDD) repeat scroll 0 0 transparent;*/ border:1px solid #AAC3D7; }
.treeview, .treeview ul { padding: 0; margin: 0; list-style: none; }
.treeview ul { margin-top: 2px; }
.treeview .hitarea { background: transparent url(../images/treeview-default.gif) -64px -25px no-repeat; height: 16px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }
* html .hitarea { display: inline; float: none; } /* fix for IE6 */
.treeview li { margin: 0; padding: 2px 0px 2px 16px; font-size: 13px; }
.treeview .hover { cursor: pointer; text-decoration: underline !important; }
.treeview li { background: url(../images/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview .expandable-hitarea { background-position: -80px -3px; }
.treeview li.last { background-position: 0 -1766px; }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview-default.gif); }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }




/* CSS: abril_template.css
---------------------------------------------- */
#abril_template_file_body_wrap_list { display: block !important; }
select#site-area { margin-bottom: 10px;}
.side_content{ position: absolute; width: 68%; }
.MultiFile-intercepted .side_bar { height: 516px; }
.MultiFile-box { display: none; }
.mainTab { margin-top: 5px }
.area { padding: 1px 0; }
.area input { vertical-align: middle}
.area:hover { background-color: #EAF2F8; cursor: pointer; }
#areas_field_box { overflow: auto; height: 350px; border: 1px solid #CCC; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #FFF }
.insert_code{ padding: 10px; background: #36393D; position: absolute; width: auto; right: 33px; margin-top: 24px; display: none; }
.insert_code a, .insert_code label.label { color: #FFF; display: block; }
.toggle_view{ display: block; font-size: 20px; border-bottom: 1px dotted #666; text-align: right; text-decoration: none; cursor: pointer; margin-bottom: 5px }
.toggle_view:hover { font-weight: bold; text-decoration: none; }
.codepress { height: 600px; width: 100%; }

/* TABs
---------------------------------------------- */
div.tab { background: #36393D; color: #FFF; text-align: right; margin-bottom: 5px; padding-bottom: 3px; }
div.tab ul { padding: 7px 0; text-align: left; background: #EEE; }
div.tab li {  display: inline; }
div.tab li a { padding: 7px 20px; margin-right: 3px; background: #999; color: #FFF; text-decoration: none; }
div.tab li a:hover { background: #666666; }
div.tab li a.active { background: #36393D; color: #FFF; cursor: default; }
div.tab li a {-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;}
div.tab select { border: 1px solid #CFCFCF; padding: 1px; margin: 3px; }






/* CSS assets.css
---------------------------------------------- */
#upload_area{ padding: 10px 5px 10px 10px; background: #eee; border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
#asset_path_box { overflow: auto; height: 550px; padding: 10px; border: 1px solid #999; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #FFF; font-size: 12px; }
#asset_path_box a { text-decoration: none; }
#asset_path_box .asset_box { border: 1px solid #FFF; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin-bottom: 2px }
#asset_path_box .asset_box:hover, #asset_path_box .asset_box.active { background: #EAF2F8; border: 1px solid #B3CBDD; font-weight: bold; }
.folderBox { display: none; }
.asset_box .cancel_link { font-weight: normal;}
.asset_box .cancel_link:hover { text-decoration: underline !important;}
.asset_box .folderButton { float: right; display: none; }
.asset_box .folderButton { vertical-align: bottom; }

/* plugin: MultiFile
---------------------------------------------- */
#destroy_all.MultiFile-intercepted .actions-wrapper { margin: 10px 0; display: block; }
.MultiFile-list { padding: 10px; float: left; display: block; }
.MultiFile-remove { overflow: hidden; display: block; width: 20px; height:16px; float: left; text-indent: -9000px; background: url(../images/cross.png) 0 center no-repeat; }
.MultiFile-title { font-size: 13px; }
.MultiFile-label { float: left; }




/* CSS boxes.css
---------------------------------------------- */
.asterisk { color: #ec8d08; }
/* FIELD-ITEM: GENERAL CUSTOMIZATION */
.field-item-wrapper .msgError { display: none; }
.field-item-wrapper textarea { overflow-x: hidden; }
.field-item-wrapper .title { font-size: 12px; font-weight: bold; color: #333333; display: block; }
.field-item-wrapper .input-count-wrapper { position: relative; }
.field-item-wrapper .input-count-wrapper .count { position: absolute; right: 0px; top: -23px; height: 18px; color: #FFF; padding: 2px 5px; background-color: transparent; background-image: url(../images/ico-counter-bottom.png); background-repeat: no-repeat; background-position: center top; }
.field-item-wrapper.focus input, .field-item-wrapper.focus textarea { color: #000; border-color: #1d598f; }
.field-item-wrapper.limit input, .field-item-wrapper.limit textarea { border-color: #ff6666; }
.field-item-wrapper.error.focus { border-color: #ec8d08; }
.field-item-wrapper.focus .input-count-wrapper .count { background-image: url(../images/ico-counter-bottom-focus.png); }
/* FIELD-ITEM: ERRORS */
.field-item-wrapper.error { border: 1px solid #ec8d08; background-color: #ffcc66; width: 101.5%; }
.field-item-wrapper.error .field-item { margin: 5px; }
.field-item-wrapper.error .msgError { display: block; }
.field-item-wrapper.error .custom-text-field { width: 98%; }
.field-item-wrapper.error .input-count-wrapper .count { background-image: url(../images/ico-counter-bottom-error.png); right: 17px; }
.field-item-wrapper.limit .input-count-wrapper .count { background-image: url(../images/ico-counter-bottom-limit.png); }
/* IE properties */
zoom: 1;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType='0', startColorstr='#eaf2f8', endColorstr='#b3cbdd');
}






/* CSS site_version.css
---------------------------------------------- */
#content-wrapper form#form-clone { position: absolute; width: 310px; }
#content-wrapper form#form-clone { top: 260px; left: 65%; right: 0; margin-right: 150px; }
#content-wrapper form#form-clone .actions-wrapper { border: 8px solid #ccc; background: #e5e5e5; }




/* CSS publish_log.css
---------------------------------------------- */
.publish_details .details { display: none; }
.publicado, .nao-publicado, .parcialmente-publicado { display: block; font-size: 12px; padding: 1px 3px 1px 22px; margin-top: 5px }
.publicado { background: url(../images/server_ok.png) 0 center no-repeat; }
.nao-publicado { background: url(../images/server_error.png) 0 center no-repeat; }
.parcialmente-publicado { background: url(../images/server_light.png) 0 center no-repeat; }




/* CSS: site.css
---------------------------------------------- */
div.site-servers a.remove { margin-top:21px; }
.sites-wrapper .check-field{}
.sites-wrapper .site{width:170px;}
.sites-wrapper .brand{width:150px;text-align:center;}
.sites-wrapper .environment{}
.sites-wrapper .updated_at{width:220px;text-align:center;}
.sites-wrapper .publish{text-align:center;}
.navform{border-bottom:1px dotted #999;padding-bottom:15px;}
/*.navform .button.cancel{float:right;}*/
.button.edit{display:inline;vertical-align:middle;margin-left:10px;}
.button.edit .ico{background: url("/images/ico-pencil2.png") no-repeat scroll center center transparent;height: 17px;padding-left: 0;width: 26px;}
.environment-list .first{width:15%;}
.environment-list .last{width:85%;}
/* dialog action SHOW */
.main.site-show{font-size:13px;color:#666;line-height:22px;}
.main.site-show .site-info .title{font-weight:bold;}
.main.site-show .site-environment-info{border-top:1px solid #CCC;margin-top:10px;padding-top:10px;}
.main.site-show .site-environment-info .table td{height:auto;}



/* CSS: site_environment.css
 --------------------------------------------- */
.site-environment .panel{margin-bottom:10px;}
.site-environment .panel .title{background-color:#7a7a7a;border-radius:5px;padding:7px 10px;}
.site-environment .panel .title .text{color:#cdcdcd;font-size:16px;letter-spacing:0px;padding-left:20px;background:url("/images/ico-box-expand-environment.png") no-repeat left center;}
.site-environment .panel .title .text a{color:#cdcdcd;}
.site-environment .panel .body{display:none;border-radius:0px 0px 5px 5px;border:1px solid #CCC;background-color:#FFF;padding:15px;}
.site-environment .panel.opened .title{background-color:#383a3a;border-radius:5px 5px 0px 0px;}
.site-environment .panel.opened .title .text{color:#FFF;background-image:url("/images/ico-box-collapse-grey.png");}
.site-environment .panel.opened .body{display:block;}
.site-environment .panel.opened .body .panel-block{border-top:1px dotted #999;margin-top:10px;}
.site-environment .panel.opened .body .panel-block h2{font-size:14px;margin:20px 0;letter-spacing:0px;}
.site-environment .panel.opened .body .panel-block .label{font-weight:normal;}
.site-environment .panel.opened .body .domains_environments a.remove{margin-top:21px;}
.site-environment .panel.opened .body .form-actions{padding-top:20px;}
.site-environment .panel.opened .body .actions .add{background:url("/images/ico-plus.png") no-repeat scroll left center transparent;font-size:11px;padding-left:20px;text-indent:0;line-height:14px;}
.ui-dialog .ui-dialog-content{overflow:hidden;}




/* CSS: repository_change.css
---------------------------------------------- */
.repository_changes {}
.repository_changes ul { margin-left: 30px; }
.repository_changes .action-pull { padding: 10px 0 5px 15px; }
.repository_changes em.clearfix { padding: 0 0 10px 15px; color: #333; font-weight: normal }
.repository_changes .status { margin-left: 10px; }

.repository_changes table ul { margin-bottom: 5px; }
.repository_changes table span.created,  .repository_changes table ul.created { color: #060; }
.repository_changes table span.modified, .repository_changes table ul.modified { color: #aa0; }
.repository_changes table span.deleted,  .repository_changes table ul.deleted { color: #800; }

/* Tools
--------------------------------------------- */
ul.tools li { display: inline-block; border: 3px solid #999; margin: 17px; border-radius: 15px; width:150px; height:150px; }
ul.tools a { border-radius: 12px; display: block; width: 100%; height: 100%; padding: 0; margin: 0; }
ul.tools a.confluence { background:url("/images/confluence-gray.png") center center no-repeat transparent; }
ul.tools a.confluence:hover { background:url("/images/confluence.png") center center no-repeat transparent; }
ul.tools a.sitemap { background:url("/images/sitemap-gray.png") center center no-repeat transparent; cursor: default; }
/*ul.tools a.sitemap:hover { background:url("/images/sitemap.png") center center no-repeat transparent; }*/
ul.tools a.validations { background:url("/images/validation-gray.png") center center no-repeat transparent; }
ul.tools a.validations:hover { background:url("/images/validation.png") center center no-repeat transparent; }
ul.tools a.environments { background:url("/images/environments-gray.png") center center no-repeat transparent; }
ul.tools a.environments:hover { background:url("/images/environments.png") center center no-repeat transparent; }


/* Validations
--------------------------------------------- */
.validation_errors { float: right; }
.validation_errors .error_counter { width: 15px; background-color: #FFF; }
.validation_errors .error_counter_error { background-color: #FFC2C2; }
.clearfix .table .result p span.error {color:#FF0000;}


/* Preview de Chamadas
--------------------------------------------- */
.iframe-preview-wrapper
	{ position: relative }

.iframe-preview-wrapper	iframe
	{ z-index: 1; display: block; width: 100%; }

.iframe-preview-wrapper .preview-frame-mask
	{ 
		background: #fafafa;
		background: rgba(255, 255, 255, 0.6);
		border: 1px solid #8c8c8c;
		border-radius: 6px;
		display: block;
		height: 894px;
		left: 0;
		position: absolute; 
		text-align: center;
		top: 0;
		z-index: 2;
	}	

.iframe-preview-wrapper .preview-frame-mask span
	{
		background: #4A8ECB url("../images/loading-icon.gif") 5px center no-repeat;
		border-radius: 0 0 5px 5px;
		color: #fff;
		font: bold 10px/20px Helvetica,Arial,sans-serif;
		left: 42%;
		padding: 5px 10px 5px 30px;
		position: absolute;
		top: 0;
	}

.preview-tooltip
	{ 
		background: #a9a9a9;
		border-radius: 90px;
		color: #fff;
		cursor: pointer;
		font: bold 12px/13px Arial, Helvetica, sans-serif;
		margin: 0 10px;
		padding: 1px 4px;
		position: relative;
		top: -2px;
	}

.tooltip * 
	{ 
		color: #000;
		font: normal 12px/14px Arial,Arial, Helvetica, sans-serif;
		text-transform: none;
	}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.tooltip.top {
  margin-top: -3px;
}

.tooltip.right {
  margin-left: 3px;
}

.tooltip.bottom {
  margin-top: 3px;
}

.tooltip.left {
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 400px;
  padding: 3px 15px;
  color: #000;
  text-align: left;
  text-decoration: none;
  background-color: #A9A9A9;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #A9A9A9;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #A9A9A9;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #A9A9A9;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #A9A9A9;
  border-width: 0 5px 5px;
}

.headlines-boxes-wrapper {
	position: relative;
	z-index: 3;
}