* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../font/Raleway-SemiBold.ttf);
  font-family: 'Raleway-Bold';
  src: url(../font/Raleway-Bold.ttf);
  font-family: 'Raleway-regular';
  src: url(../font/Raleway-Light.ttf);
  font-family: 'Playfair Display';
  src: url(../font/PlayfairDisplay-Bold.otf);
  font-family: 'Playfair Display-italic';
  src: url(../font/PlayfairDisplay-BoldItalic.otf);
}
body {
  color: #000;
}

.center {
  text-align: center;
}

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 0px;
  color: #fff;
  margin-top: 15px;
}

.pager li > a:hover {
  color: #000;
}

.resp {
  width: 100%;
}

.content-banner {
  height: auto !important;
}

.resp-thumb {
  width: 100%;
}

.header-responsivo {
  display: none;
}

.espaco-logo-resp {
  margin-top: -10px;
}

iframe {
  overflow: hidden;
}

.label-4 {
  text-align: center;
}
.label-4 h2 a {
  font-size: 40px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  line-height: 60px;
  padding-bottom: 7px;
  color: #000;
  font-weight: bold;
}
.label-4 h4 a {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-style: italic;
  line-height: 60px;
  padding-bottom: 7px;
  color: #000;
  font-weight: bold;
  font-size: 30px;
}

/*header*/
header {
  border-bottom: 5px solid #000 !important;
  height: 200px;
}

.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*menu*/
#menu-desktop {
  /*sub-menu*/
  /*sub-menu*/
}
#menu-desktop ul {
  list-style-type: block;
  margin: 0;
  padding: 0;
}
#menu-desktop ul li {
  display: inline-block;
}
#menu-desktop ul li a {
  display: block;
  text-decoration: none;
  padding: 0px 10px 10px 10px;
  color: #000;
  /*font-family: 'Raleway-Bold';*/
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
#menu-desktop ul li a:hover {
  text-decoration: none;
  color: #b3b3b3;
}
#menu-desktop .accordion {
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 30%;
  position: absolute;
  top: -11px;
  width: 100px;
}
#menu-desktop .accordion:hover .accordion-content, #menu-desktop .accordion:hover .accordion-content-sobre {
  max-height: 600px;
  width: 400px;
}
#menu-desktop .accordion-content, #menu-desktop .accordion-content-sobre {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff !important;
  z-index: 9999;
  overflow: hidden;
  max-height: 0;
  width: 400px;
}
#menu-desktop .accordion-toggle {
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}
#menu-desktop .accordion-sobre {
  display: inline-block;
  text-align: left;
  margin: 1%;
  width: 15%;
  position: absolute;
  top: -11px;
}
#menu-desktop .accordion-sobre:hover .accordion-content-sobre {
  max-height: 300px;
}
#menu-desktop .accordion-content-sobre {
  width: 160px;
}
#menu-desktop .sub-menu, #menu-desktop .sub-menu-sobre {
  top: 30px;
}
#menu-desktop .sub-menu li, #menu-desktop .sub-menu-sobre li {
  display: block;
  width: 50%;
  float: left;
}
#menu-desktop .sub-menu li a, #menu-desktop .sub-menu-sobre li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  padding: 10px 15px;
  text-align: center !important;
}
#menu-desktop .sub-menu li a:hover, #menu-desktop .sub-menu-sobre li a:hover {
  text-decoration: underline;
  color: #fff;
}
#menu-desktop .sub-menu .title, #menu-desktop .sub-menu-sobre .title {
  background-color: #000;
  text-align: center;
  font-size: 9px;
  text-transform: uppercase;
  padding: 3px 0;
  width: 100%;
  float: inherit;
  overflow: hidden;
  color: #fff;
}
#menu-desktop .sub-menu .main, #menu-desktop .sub-menu-sobre .main {
  width: 100%;
  float: inherit;
}
#menu-desktop .sub-menu .main a, #menu-desktop .sub-menu-sobre .main a {
  font-size: 15px;
  padding: 10px 0;
  font-weight: 700;
  color: #fff;
}
#menu-desktop .sub-menu .main a:hover, #menu-desktop .sub-menu-sobre .main a:hover {
  text-decoration: underline;
  color: #fff;
}

.sub-menu-sobre li {
  width: 100% !important;
}

.bloco-menu {
  padding-left: 100px;
}

/*header-mostra*/
.title-mostra i {
  font-size: 54px;
  font-family: "Playfair Display", serif;
  position: relative;
  top: 10px;
  display: inline-block;
  margin-left: 20px;
}

.after-before-mostra a:after {
  content: "}";
  position: absolute;
  top: -10px;
  font-size: 80px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  right: 17%;
  color: #000;
}

.after-before-mostra a:before {
  content: "{";
  position: absolute;
  top: -10px;
  font-size: 80px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  left: 17%;
  color: #000;
}

.menu-desktop {
  padding-bottom: 36px !important;
}

/*banner*/
.top-banner {
  position: relative;
  top: 200px;
}

.carousel-inner {
  width: 50% !important;
}

.content-banner {
  width: 100%;
  height: 430px;
  max-height: 430px;
  box-sizing: border-box;
  display: block;
}

.box-caption {
  background-color: #010102;
  display: inline-block;
  text-align: center;
  padding: 4px 20px 9px;
  margin-top: 343px;
}

.content-holder {
  display: inline-block;
  font-size: 10px;
  color: #2bbafc;
}

.content-holder span {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
}

.carousel-indicators {
  position: absolute;
  bottom: -35px;
}

.carousel-indicators li {
  border-radius: 0px !important;
  border: 0px;
  display: inline-block;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  background-color: #bcbec0;
  cursor: pointer;
  margin: 0 2px;
}

.carousel-indicators .active {
  width: 6px !important;
  height: 6px !important;
  background-color: #2bbafc;
  border: 0px !important;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  max-width: 100%;
  height: 100% !important;
}

/*bloco decoracao/quente*/
.materia-content {
  display: block;
  text-align: center;
  padding: 20px 20px;
}
.materia-content a {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
  min-height: 90px;
}

.desc-materia, .desc-ultimas {
  position: relative;
  top: 20px;
  bottom: 20px;
}

.more {
  bottom: 0;
  display: block;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
}
.more :before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5.5%;
  display: block;
  border: 1px solid #000;
  width: 90%;
  height: 10px;
  z-index: 1;
  border-top: none;
}
.more :after {
  border: none;
  border-bottom: 1px solid #fff;
  height: 1px;
  z-index: 2;
  bottom: 10px;
  left: 0px;
}
.more a {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

/*bloco ultimos  videos/renault/deca*/
.box-holder {
  min-height: 270px;
  border: 1px solid #d2d2d2;
}
.box-holder p {
  text-align: center;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}
.box-holder p a {
  text-align: center;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
}

/*bloco ultimas*/
.desc-ultimas {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
  min-height: 90px;
}

.linha-2 {
  margin-top: 50px;
}

.top-more {
  padding-top: 50px;
  position: relative;
}
.top-more :before {
  width: 100%;
  left: 0%;
}

/*bloco buscas*/
.busca h4 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Raleway-bold', sans-serif;
  color: #000;
  font-weight: bold;
  margin-top: 80px;
}

.form-busca {
  background-color: #e7e8e8;
  height: 125px;
  padding: 25px 0px 25px 0px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 8px 50px;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 700;
}

.button:hover {
  background-color: #bcbec0;
}

.line-form {
  padding-top: 10px;
}

imput {
  color: #555 !important;
}

::-webkit-input-placeholder {
  color: #555 !important;
}

:-moz-placeholder {
  color: #555 !important;
  color: #000 !important;
}

::-moz-placeholder {
  color: #555 !important;
}

:-ms-input-placeholder {
  color: #555 !important;
}

/*bloco patrocinio*/
.box-patrocinio {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 180px;
  margin-top: 50px;
}

.title-patrocinio {
  text-align: center;
}
.title-patrocinio h4 {
  text-align: center !important;
  font-family: 'Raleway-regular';
  font-size: 20px;
  padding-top: 30px;
}

/*bloco social*/
.social-home {
  margin-top: 40px;
}

/*Footer*/
footer {
  background-color: #333;
  height: 450px;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer h5 {
  color: #FFF;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  position: relative;
  padding: 30px 0 37px;
}
footer h5:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border: 1px solid #fff;
  border-bottom: none;
  height: 10px;
  width: 100%;
  z-index: 1;
}
footer a:hover {
  color: #fff;
}

.desc-mais {
  font-family: "Playfair Display", serif;
  font-style: italic;
  min-height: 90px;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  top: 20px;
  bottom: 20px;
}

.label-4 {
  text-align: center;
}

.linhas-footer {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 32px;
  width: 100%;
  position: relative;
  margin-top: -110px;
}

.links-footer {
  color: #fff;
  text-transform: uppercase;
  padding-top: 8px;
  position: absolute;
  font-size: 11px;
}
.links-footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.border-left {
  border-left: 1px solid #fff;
}

.direitos {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.hg-foo {
  background-color: #333;
}

.mg-foo {
  margin-top: -1px;
  background-color: #333;
}

#footer-resp-frame {
  display: none;
}

/*ajustes responsivo*/
@media (max-width: 1200px) {
  .header-responsivo {
    display: block;
  }

  .topo {
    display: none;
  }

  .top-banner {
    top: -20px;
  }

  .lado-direito {
    display: none;
  }

  .carousel-inner {
    width: 100% !important;
  }

  .title-resp {
    font-size: 24px !important;
  }

  .navbar-brand {
    margin-left: 0px !important;
  }
}
@media (max-width: 991px) {
  .ultimas-fig {
    margin-top: 45px;
  }

  .label-4 {
    min-height: 200px;
  }

  .linhas-footer {
    display: none;
  }

  button.form-bsc {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .top-banner {
    top: -20px;
  }

  .ultimas-fig-footer {
    margin-top: 45px;
  }

  .direitos {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .form-busca {
    height: 480px;
  }

  .social-resp {
    margin-top: 10px;
  }

  .box-patrocinio {
    height: 312px;
  }

  .none-resp {
    display: none;
  }

  #footer-resp-frame {
    display: block;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .carousel-indicators {
    display: none !important;
  }

  .form-busca {
    padding: 25px 40px 25px 0px;
  }

  .navbar-header {
    left: 38% !important;
    position: relative;
    top: 25px;
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  input, select, button {
    margin-top: 10px !important;
  }

  .form-busca {
    height: 290px;
  }

  .tt-resp {
    padding-left: 75px;
  }

  .footer {
    height: 560px;
  }

  .navbar-header {
    left: 36% !important;
    position: relative;
    top: 25px;
    margin-bottom: 30px;
  }
}
h1 {
  text-align: center;
  font-size: 46px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 25px;
}

.content-deca {
  margin-top: 200px;
}

.deca-top {
  margin-top: 50px;
}

.deca-desc {
  display: block;
  margin-top: 5px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  margin: 15px 0px 15px 0px;
  color: #000;
  text-align: center;
}
.deca-desc a:hover {
  color: #000;
}

.figure {
  text-align: center;
  margin: 30px 20px;
}

.dec {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  text-align: center;
}

/*ajustes mobile*/
@media (max-width: 1200px) {
  .content-deca {
    margin-top: 0px;
  }
}
@media (max-width: 991px) {
  .dec {
    text-align: justify;
  }
}

/*# sourceMappingURL=deca.css.map */
