@import 'main';
h1 {
  text-align: center;
   font-size: 46px;
   font-family: "Playfair Display", serif;
   font-style: italic;
   font-weight: 700;
   margin-bottom: 25px;
   color:$preto;
}
.content-canal{
  margin-top: 200px;
}
.content-canal-2{
  margin-top: -150px;
}
.canal-desc {
  display: block;
    font-size: 20px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin: 15px 0px 15px 0px;
    color:$preto;
    a:hover{
        color:$preto;
    }
}
/*ajustes mobile*/
@media (max-width:1200px) {
  .content-canal {
    margin-top: 0px;
  }
}
@media (max-width:991px) {
  .content-canal-2{
    margin-top:-20px;
  }
}
