@import 'main';
h1 {
   text-align: center;
   font-size: 46px;
   font-family: "Playfair Display", serif;
   font-style: italic;
   font-weight: 700;
   margin-bottom: 25px;
}
.content-dec{
  margin-top: 200px;
}
.dec-desc {
  display: block;
    font-size: 20px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin: 15px 0px 15px 0px;
    color:$preto;
    a:hover{
        color:$preto;
    }
}
.breadcrumb {
    text-align: center;
    background-color: $branco;
    margin-top:25px;
  li {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-style: italic;
    color:$preto;
      a{
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        font-style: italic;
        color:$preto
    }
  }
}
/*ajustes mobile*/
@media (max-width:1200px) {
  .content-dec {
    margin-top: 0px;
  }
}
