@import "main";
/*header*/
header {
  border-bottom: 5px solid $preto !important;
  height: 200px;
}
.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*menu*/
#menu-desktop {
  ul {
    list-style-type: block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: block;
        text-decoration: none;
        padding: 0px 15px 10px 15px;
        color: $preto;
        /*font-family: 'Raleway-Bold';*/
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;

      }
      a:hover {
        text-decoration: none;
        color: $cinza;
      }
    }
  }
  /*sub-menu*/
  .accordion{
    display: inline-block;
    text-align: left;
    margin: 1%;
    width: 30%;
    position: absolute;
    top:-10px;

    &:hover{
      // max-height technique
      .accordion-content{
        // If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.
        max-height: 600px;
      }
    }
  }
  .accordion-content{
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    background-color: rgba(0, 0, 0, 0.85);
    color: $branco !important;
    z-index: 9999;
    overflow: hidden;
    // "height: 0" not work with css transitions
    max-height: 0;
  }
  .accordion-toggle{
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
  }
  /*sub-menu*/
  .accordion-sobre{
    display: inline-block;
    text-align: left;
    margin: 1%;
    width: 15%;
    position: absolute;
    top:-10px;

    &:hover{
      // max-height technique
      .accordion-content-sobre{
        // If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.
        max-height: 300px;
      }
    }
  }
  .accordion-content-sobre{
    @extend .accordion-content;
  }
  .sub-menu {
    top: 30px;
    li {
      display: block;
      width: 50%;
      float: left;
      a {
        display: block;
        text-transform: uppercase;
        color: $branco;
        font-size: 12px;
        padding: 10px 15px;
        text-align: center !important;
      }
      a:hover {
        text-decoration: underline;
        color:$branco;
      }
    }
  }
  .sub-menu .title {
    background-color: $preto;
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    padding: 3px 0;
    width: 100%;
    float: inherit;
    overflow: hidden;
    color:$branco;
  }
  .sub-menu .main {
    width: 100%;
    float: inherit;
    a {
      font-size: 15px;
      padding: 10px 0;
      font-weight: 700;
      color: $branco;
    }
    a:hover {
      text-decoration: underline;
      color: $branco;
    }
  }
}
.sub-menu-sobre {
  @extend .sub-menu;
  li {
    width: 100% !important;
  }
}
.bloco-menu {
  padding-left: 100px;
}
.header-responsivo {
  display: none;
}
.espaco-logo-resp {
  margin-top: -10px;
}

/*ajustes responsivo*/
@media (max-width:1200px) {
  .header-responsivo {
    display: block;
  }
  .topo {
    display: none;
  }
}

/*header-mostra*/
.title-mostra i {
    font-size: 54px;
    font-family: "Playfair Display", serif;
    position: relative;
    top: 10px;
    display: inline-block;
    margin-left: 20px;
}
.after-before-mostra a:after {
    content: "}";
    position: absolute;
    top: -10px;
    font-size: 80px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    right: 17%;
    color: $preto;

}
.after-before-mostra a:before {
    content: "{";
    position: absolute;
    top: -10px;
    font-size: 80px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    left: 17%;
    color: $preto;
}
.menu-desktop {
  padding-bottom: 36px !important;
}
