* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src:url(../font/Raleway-SemiBold.ttf);

  font-family: 'Raleway-Bold';
  src:url(../font/Raleway-Bold.ttf);

  font-family: 'Raleway-regular';
  src:url(../font/Raleway-Light.ttf);

  font-family: 'Playfair Display';
  src:url(../font/PlayfairDisplay-Bold.otf);

  font-family: 'Playfair Display-italic';
  src:url(../font/PlayfairDisplay-BoldItalic.otf);
}
$preto: #000;
$cinza: #b3b3b3;
$azul: #2bbafc;
$cinza-bullet:#bcbec0;
$branco:#fff;
$preto-2:#010102;
$cinza-border:#d2d2d2;
$cinza-bg:#e7e8e8;
$bg-btn:#bcbec0;
$input-place:#555;
$bg-footer:#333;
.resp {
  width: 100%;
}
.content-banner {
  height: auto !important;
}
.resp-thumb {
  width: 100%;
}
